body{
    background-color: #f3f3f3;
}

.mainBody{
    background-color: #f3f3f3;
    width: 100%;
}

.mainBody__content{
   margin-top: 100px;
   margin-bottom: 100px;
   width: 800px;
   height: auto;
   background-color: white;
   box-shadow: 0 0 10px 0 black;
}

.note{
    padding: 10px;
    margin: 10px;
}

.btn{
    border-radius: 0rem;
}

.form-control{
    border-radius: 0rem;
    margin: 10px;
}